{% extends "base.html" %}

{% block additional_head %}
<style>
    .thumbnail {
        width: 300px;
        height: 300px;
    }
</style>

<link rel="stylesheet" type="text/css" href="static/css/checkmark.css">
{% endblock %}


{% block content %}

<div class="notification is-info has-text-left">
    <h1 class="title">
        操作方法
    </h1>
    <p>
        各画像の下にある<strong>GOボタン</strong>をクリックすると比較ページに移動します。
    </p>
    <p>
        矢印キーを使って好みの画像を選択してください。
    </p>
    <p>
        全種類やってもらえると助かります。
    </p>
</div>

<div class="tile is-ancestor has-background-white box">

    <div class="tile is-parent is-vertical">

        {% for image_dict_list in image_dict_table %}
        <div class="tile box">

            {%  for image_dict in image_dict_list %}
            <div class="tile is-parent is-3 is-vertical">
                <div class="tile is-child">
                    <figure class="image is-square">
                        <img src="{{image_dict.path}}" alt="{{image_dict.name}}" class="thumbnail">
                    </figure>
                </div>

                <div class="tile is-child">
                    {% if image_dict.is_compared %}
                    <span class="checkmark">比較済み</span>
                    {% else %}
                    <span>未比較</span>
                    {% endif %}

                    <form method="POST" action=/select_image> <button class="button is-primary is-large" name="select"
                        value={{image_dict.name}}>Go</button>
                    </form>

                </div>

            </div>
            {% endfor %}

        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}