{% extends "base.html" %}

{% block additional_head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/compare.js"></script>

<style>
    .thumbnail {
        width: 200px;
        height: 200px;
    }
</style>
{% endblock %}


{% block content %}
<!-- <div class="tile is-ancestor has-background-white box">
    <div class="tile has-background-info is-6 is-parent">
        <div class="tile is-child"> -->
<div class="columns">
    <div class="column">
        <figure class="image is-square">
            <img src="{{left_image}}" id="left_image" class="thumbnail">
        </figure>
    </div>

    <div class="column">
        <figure class="image is-square">
            <img src="{{right_image}}" id="right_image" class="thumbnail">
        </figure>
    </div>
</div>

<div class="level">
    <div class="level-item has-text-centered">
        左が好き:←
    </div>
    <div class="level-item has-text-centered">
        両方好き:↑
    </div>
    <div class="level-item has-text-centered">
        両方嫌い:↓
    </div>
    <div class="level-item has-text-centered">
        右が好き:→
    </div>
</div>

{% endblock %}}