<head>
    <link rel="stylesheet" href="/static/css/parts.css">
    <link rel="stylesheet" href="/static/css/auth/auth.css">
</head>

<div class="header">
    <div class="auth">
        {% if not current_user.is_authenticated %}
        <button class="btn" type="button" onclick="location.href='/login'">login</button>
        <button class="btn" type="button" onclick="location.href='/signup'">sign up</button>
        {% else %}
        <button class="btn" type="button">logout</button>
        {% endif %}
    </div>
</div>