.checkmark{
	padding-left:24px;
	position:relative;
}
.checkmark:before,
.checkmark:after{
	content:"";
	display:block;
	position:absolute;
}
.checkmark:before{
	width:16px;
	height:16px;
	background:#ffffff;
    	border:1px solid #000000;
	left:0;top:2px;
}
.checkmark:after{
	border-left:2px solid #ff0000;
	border-bottom:2px solid #ff0000;
	width:18px;
	height:5px;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	left:5px;
	top:3px;
}