.canvas {
    display: inline-block;
    padding:  100px;
    height: 300px;
}

.parent {
    text-align: center;
    padding:  20px;
}

.description{
    display: inline-block;
    text-align: center;
    padding:  20px;
    font-size: 20px;
}

.count{
    text-align: right;
    padding:  20px;
    font-size: 20px;
}